.NEWS {
  // background: url);
  background-image: url(../../../../public/img/backapp.jpg);
  background-attachment: fixed;
  padding-bottom: 20px;
  .container {
    max-width: 1200px;
  }
  
}
.advertisement{
  width: 500px;
  display: flex;
  flex-direction: column;
}
.btn-app{
  background-color: #fb4226;
  width: 250px;
  text-align: center;
  padding: 8px;
  color:white;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-top: 25px;
  &:hover{
    color: #fb4226;
    background-color: transparent;
    border: 1px solid #fb4226;

  }
}